@media (max-width: 768px) {
   
    .bodyy{
        background-color: #F5F6F8 ;
        
        max-width: 100vw;
        min-height: 100vh;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 70px;
        scroll-behavior: smooth;
        
        
    }
    .scrollOverflow{
        overflow-y: auto;
       
  overflow-y: auto;
  max-height: 540px;
  
    }

    .qavamHeaderImg{
        
        width: 95vw;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        
        
    }
    .menuCategoryButtonsContainer{
        display: flex;
        
    }
    
    
}