@media (max-width: 768px) {
@font-face {
  font-family: 'Chopin';
  src: url('../../public/assets/fonts/Chopin-Light.ttf');
  font-weight: 200;
  
  
}
  .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* بکگراند تار */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  
}

.modal {
position: absolute;
  background: white;
  padding: 0;
  border-radius: 12px;
  width: 90%;
  
  max-width: 400px;
  text-align: center;
  position: relative;

  h2{
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    font-family: 'YekanBakhBold';
    color: black;
  }
  p{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'YekanBakhThin';
    font-size: 14px;
    text-align: left;
    color: black;
  }
  .price{
    padding-left: 20px;
    padding-right: 10px;
    font-size: 18px;
    font-family: 'YekanBakhBold';
    color: #fcbe55;
  }
  .englishPrice{
    font-family: "Chopin";
    font-weight: 800;
  }
  .closeBtn{
    padding: 3px;
    
    width: 45px;
    height: 45px;
    position: relative;
    top: -510px;
    left: 130px;
     backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 50%;
    border: 1px solid rgba(209, 213, 219, 0.3);
    
  }
  .addButton{
    color: white;
    display: block;
    margin: 2px auto;
    
    width: 70%;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #122268;
  }
}

.foodImage {
    
  width: 100%;
  height: auto;
  border-radius: 10px;
}

}